<!DOCTYPE html>
<body>
    
<h1 class="title">ようこそ　Bookersへ！</h1>

<p class="top_text"><b>Bookers</b>では、さまざまな書籍に関するあなたの意見や</p>

<p class="top_text">印象を共有し交換することができます</p>

<div class="start"><%= link_to 'start', '/books' %></div>

</body>